* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(179, 202, 182);
    background: radial-gradient(circle, rgba(48, 191, 64, 0.36458333333333337) 0%, rgba(8, 189, 44, 0.5242471988795518) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    height: 30%;
    background-color: white;
    margin: auto;
    border-radius: 1em;
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 8000px;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: green;
    padding: 20px;
    display: block;
    border-radius: 15px 15px / 15px 15px;
    font-size: 25px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background-color: #d0fdd7;
    color: black;
}

.logo {
    float: left;
}

.text {
    height: 10%;
    background-color: #d0fdd7;
    margin: 1em;
    border-radius: 0.5em;
    font-size: 30px;
    text-align: center;
}

#content {
    height: 53%;
    margin: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ubicacion {
    display: flex;
    padding: auto;
    padding-left: 8px;
}

.numero {
    display: flex;
    padding-left: 10px;
}

.face{
    display: flex;
    padding-left: 10px;
    padding-bottom: 5px;
}

.ubicacion .texto{
    padding-top: 13px;
}

.numero .texto {
    padding-left: 11px;
    padding-top: 13px;
}

.face .link{
    padding-left: 11px;
    padding-top: 13px;
    text-decoration: none;
    color: black;
}

#aside {
    height: 100%;
    width: 40%;
    background-color: darkseagreen;
    margin-right: 0.5em;
    border-radius: 1em;
    float: right;
}

.info {
    height: 100%;
    width: 58%;
    background-color: darkseagreen;
    margin-left: 0.5em;
    border-radius: 1em;
    float: left;
}

#aside p {
    font-size: 28px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer{
    height: 15%;
    background-color: #d0fdd7;
    margin: 1em;
    border-radius: 1em;
    display: inline-block;
}

#footer .eslogan{
    text-align: center;
    font-size: 65px;
    font-family: cursive;
}