* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(179, 202, 182);
    background: radial-gradient(circle, rgba(48, 191, 64, 0.36458333333333337) 0%, rgba(8, 189, 44, 0.5242471988795518) 100%);
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    height: 30%;
    background-color: white;
    border-radius: px;
    list-style: none;
    padding: 0;
    max-width: 8000px;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: green;
    padding: 20px;
    display: block;
    border-radius: 5px;
    font-size: 25px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background-color: #d0fdd7;
    color: black;
}

.logo {
    float: left;
}

.imgPrincipal{
    width: 600px;
    margin: 30px;
    margin-left: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text {
    padding: 10px;
    height: 10%;
    background-color: #d0fdd7;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

#content {
    height: 30%;
    margin: 1em;
}

.ubicacion {
    display: flex;
    padding: auto;
    padding-left: 8px;
}

.numero {
    display: flex;
    padding-left: 10px;
}

.face{
    display: flex;
    padding-left: 10px;
    padding-bottom: 5px;
}

.ubicacion .texto{
    padding-top: 13px;
}

.numero .texto {
    padding-left: 11px;
    padding-top: 13px;
}

.face .link{
    padding-left: 11px;
    padding-top: 13px;
    text-decoration: none;
    color: black;
}

#aside {
    padding: 10px;
    height: 20%;
    width: 38%;
    background-color: #d0fdd7;
    margin-right: 0.5em;
    border-radius: 1em;
    float: right;
}

.info {
    height: 100%;
    width: 58%;
    background-color: #d0fdd7;;
    margin-left: 0.5em;
    border-radius: 1em;
    float: left;
}

#aside p {
    font-size: 20px;
    text-align: center;
}

#footer{
    height: 15%;
    background-color: #d0fdd7;
    margin: 1em;
    border-radius: 1em;
    display: inline-block;
}

#footer .eslogan{
    text-align: center;
    font-size: 65px;
    padding: 20px;
}